<!DOCTYPE html>

<html>

<head>
    <title>About</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">  {{>header}}
    <p>This is an app using darksky.net api and mapbox.com to get the forecast for a given location</p>
    <img src="/img/img1.png" class="potrait"></div>
    {{>footer}}
</body>

</html>